body {
  font-family: Urbanist, sans-serif;
}

h1 {
  color: #a1a1e6;
  text-align: center;
}

h2 {
  font-size: 22px;
  text-transform: capitalize;
  text-align: center;
  opacity: 60%;
}

.bg-color {
  background: #a1a1e6;
}

.btn-primary {
  transition: ease-in-out;
}

.btn-primary:hover {
  cursor: pointer;
  opacity: 0.7;
}

.card {
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 12px #122c41;
}

.city {
  font-weight: 700;
}

.coded-by {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  font-family: monospace;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.current-temperature {
  font-size: 50px;
  text-align: center;
  color: #006ec5;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rain-humidity {
  font-family: Bebas Neue, cursive;
  font-size: 20px;
  text-align: center;
  opacity: 40%;
}
.right-here {
  margin-top: 20px;
}

.search-field {
  text-align: center;
}

.temp-high-low {
  font-family: Bebas Neue, cursive;
  font-size: 18px;
  text-align: center;
  opacity: 60%;
}

.time {
  text-align: center;
  margin-top: 30px;
}

.weather-box {
  width: 70%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 1px solid #e4eef5;
  padding: 30px 20px;
  border-radius: 20px;
  background: #ebe0ff;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
}
